/* mat-form-field.mat-form-field {
  width: 140%;
}

.login {
  display: flex;
  flex-direction: column;
}

.login > * {
  width: 100%;
}

#loginForm {
  padding-bottom: 150px;
  padding-right: 30px;
}

#loginBtn {
  position: absolute;
  padding-left: 50px;
}


 */

 body {
  margin: 0;
  background-color: white;
  height: 74.25vh;
  background-image: url('../../../assets/images/bg-login.jpg');
}
#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


