<app-sidenav></app-sidenav>
<div class="row card">
  <mat-card>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Beatae reprehenderit, quibusdam quo nisi incidunt veritatis?
    Veritatis, aliquam vel totam provident quo officia praesentium
    nostrum voluptates, ipsa minima illo reiciendis amet.

  </mat-card>
</div>
<div class="row card">
  <mat-card>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Beatae reprehenderit, quibusdam quo nisi incidunt veritatis?
    Veritatis, aliquam vel totam provident quo officia praesentium
    nostrum voluptates, ipsa minima illo reiciendis amet.

  </mat-card>
</div>
