<app-sidenav></app-sidenav>
<app-ordersidebar></app-ordersidebar>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
  <!-- Position Column -->
  <ng-container matColumnDef="order_id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.order_id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Order Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="order">
    <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
    <mat-cell *matCellDef="let element"> <a data-toggle="modal" data-target="#Modal">view order</a> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="supply">
    <mat-header-cell *matHeaderCellDef> Send Supply </mat-header-cell>
    <mat-cell *matCellDef="let element"> <button mat-raised-button color='accent' routerLink='/supplymedicine'>Supply</button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

 <!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ModalLabel">Confirm Supply(Id# 248637)</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <h4>orders</h4>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

