<footer class="footer ">
  <div class="container">
    <div class="row ">
      <div class="text-center text-md-left ">

        <div id="name">
          <h3 class="my-4 text-white">About<span class="mx-2 font-italic text-warning ">MedCare</span></h3>
        </div>

      </div>

      <div class="col-md">

        <div class="row" id="mail">
          <p><i class="fa fa-envelope  mx-2"></i><a href="mailto:support@medCare.com">support@medCare.com</a></p>
        </div>

        <div class="row phone" id="number">
            <p><i class="fa fa-phone  mx-2 "></i> +91 22-27782183</p>
        </div>
      </div>

      <div class="col-lg">
        <br>
        <p class="text-white" id="text"> <i class="fa fa-map-marker mx-2 "></i>
          309 - Rupa Solitaire,
          Bldg. No. A - 1, Sector - 1
          Mahape, Navi Mumbai - 400710</p>
      </div>
    </div>
  </div>
</footer>


<!-- <mat-toolbar role="footer" class="footer">
  <div class="container">
    <mat-toolbar-row>
      <div class="col-sm col-md col-sm text-center text-md-left ">

        <div id="name">
          <h3 class="my-4 text-white">About<span class="mx-2 font-italic text-warning med">MedCare</span></h3>
        </div>

      </div>
    </mat-toolbar-row>

  </div>
</mat-toolbar> -->
