<app-header></app-header>
<div class="mid" fxShow fxHide.sm="true" fxHide.xs="true" fxHide.lg="false" fxHide.md="false">
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-card class="about-item">
      <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container text-center">
        <h1 fxLayoutAlign="center start">About</h1>
      </div>
      <hr>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Suscipit deserunt deleniti pariatur eius, obcaecati et natus iste in iusto! Quibusdam commodi,
        animi culpa neque assumenda dignissimos excepturi tempore soluta cumque.</p>
    </mat-card>
    <mat-card class="about-item">
      <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container">
        <h1 fxLayoutAlign="center start">Developers</h1>
      </div>
      <hr>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequuntur sit nihil, dolor molestias quibusdam non a sequi fugiat.
        Soluta vel corrupti similique perspiciatis at non a debitis earum ex. Id!</p>
    </mat-card>
    <mat-card class="about-item">
      <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container">
        <h1 fxLayoutAlign="center start">Contact</h1>
      </div>
      <hr>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ad sit obcaecati quis esse, hic et harum repellendus enim cumque nulla.
        Voluptatibus saepe id dolore esse. Placeat culpa repellat illum expedita?</p>
    </mat-card>
  </div>
</div>

<div class="mid1" fxShow fxHide.sm="false" fxHide.xs="false" fxHide.lg="true" fxHide.md="true">
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-card class="about-item">
      <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container text-center">
        <h1 fxLayoutAlign="center start">About</h1>
      </div>
      <hr>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Suscipit deserunt deleniti pariatur eius, obcaecati et natus iste in iusto! Quibusdam commodi,
        animi culpa neque assumenda dignissimos excepturi tempore soluta cumque.</p>
    </mat-card>
    <mat-card class="about-item" fxShow fxHide.sm="true" fxHide.xs="true" fxHide.lg="true" fxHide.md="true">
      <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container">
        <h1 fxLayoutAlign="center start">Developers</h1>
      </div>
      <hr>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequuntur sit nihil, dolor molestias quibusdam non a sequi fugiat.
        Soluta vel corrupti similique perspiciatis at non a debitis earum ex. Id!</p>
    </mat-card>
    <mat-card class="about-item">
      <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container">
        <h1 fxLayoutAlign="center start">Contact</h1>
      </div>
      <hr>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ad sit obcaecati quis esse, hic et harum repellendus enim cumque nulla.
        Voluptatibus saepe id dolore esse. Placeat culpa repellat illum expedita?</p>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
